.App {
  text-align: center;
  max-width: 1280px;
}

/* ./fonts/Roboto-Regular.otf */
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./Roboto/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: local("Roboto"), url(./Roboto/Roboto-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: local("Roboto"), url(./Roboto/Roboto-Black.ttf) format("opentype");
}
